<div style="max-width: 900px; margin: 2rem auto; padding: 1rem;">
  <h1 style="text-align: center;"> Tiny News</h1>
  <p style="text-align: center;">Your daily dose of tech, science, and innovation.</p>

  <hr />

{{#each articles}}
  <div style="background: #e4e2e0; padding: 1rem; margin-bottom: 1.5rem; border-radius: 10px; box-shadow: 0 0 5px rgba(0,0,0,0.1);">
    <h3><a href="/article/{{article_id}}" style="color: #0f0f0f; text-decoration: none;">{{title}}</a></h3>
    <p><strong>By:</strong> {{author}} • {{date}}</p>
    <p>{{summary}}</p>
    {{#ifCond ../user.username author}}
      <a href="/edit_article/{{article_id}}"> Edit</a>
    {{/ifCond}}
  </div>
{{/each}}


  {{#unless articles.length}}
    <p>No articles found.</p>
  {{/unless}}
  <h3><a href="/article/{{article_id}}" style="color: white;">{{title}}</a></h3>
</div>
